@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}


#information {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/login-slider/5072310.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
}

.about_button {
    background: #09a6d4;
    padding: 15px 35px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.about_button:hover {
    background: #fff;
    color: #09a6d4;
}

#login {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/login-slider/5072310.jpg");
    background-size: cover;
}


.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 30px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
}

.error-message {
    color: red;
    font-size: 14px;
}

nav {
    opacity: 90%;
}


header {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
}

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p {
    margin-bottom: 65px;
}

.home .content a {
    background: #fff;
    padding: 15px 35px;
    color: #09a6d4;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .content a:hover {
    background: #09a6d4;
    color: #fff;
}


.home img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
    background: #09a6d4;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

.img-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
}

.product header,
.product ._content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-style: none none solid none;
    float: left;
}

.product img {
    width: 100%;
    height: 100%;
}

.product header {
    background: #000;
    margin: 0 1% 20px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 24%;
    height: 195px;
}

.product header h3 {
    background: #53b5aa;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
    position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;
}

.product ._content {
    box-sizing: border-box;
    height: 140px;
    padding: 0 20px;
    width: 100%;
}

.product h1 {
    color: #53b5aa;
    font-size: 25px;
    font-weight: 300;
    margin: 17px 0 20px 0;
}

.product footer._content {
    height: 50px;
    margin: 6px 0 0 0;
    padding: 0;
}

.product footer .price {
    background: #fcfcfc;
    color: #000;
    float: right;
    font-size: 15px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
}

.product footer .full-price {
    background: #53b5aa;
    color: #fff;
    float: right;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
}

.qt,
.qt-plus,
.qt-minus {
    display: block;
    float: left;
}

.qt-plus:hover {
    color: blue;
}

.qt-minus:hover {
    color: red;
}

.qt {
    font-size: 19px;
    line-height: 50px;
    width: 70px;
    text-align: center;
}

.qt-plus,
.qt-minus {
    background: #fcfcfc;
    border: none;
    font-size: 30px;
    font-weight: 300;
    height: 100%;
    padding: 0 20px;

}

/*-----------*/
#main-news {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 150px;
}

#main-news .col-md-4 {
    margin-bottom: 30px;
}

#main-news .mn-img {
    position: relative;
    overflow: hidden;
}

#main-news .mn-img img {
    width: 100%;
}

#main-news .mn-img:hover img {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

#main-news .mn-title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 10px 15px 20px;
    background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
    display: flex;
    align-items: flex-end;
}

#main-news .mn-title a {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    transition: .3s;
}

#main-news .mn-title a:hover {
    color: #FF6F61;
}

#main-news .mn-list {
    margin-bottom: 30px;
}

#main-news .mn-list h2 {
    color: #000000;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 3px double #000000;
}

#main-news .mn-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-news .mn-list ul li {
    margin: 0 0 12px 22px;
}

#main-news .mn-date {
    align-items: end;
}

#main-news .mn-list ul li:last-child {
    margin-bottom: 0;
}

#main-news .mn-list ul li a {
    color: #000000;
    display: block;
    line-height: 23px;
}

#main-news .mn-list ul li a:hover {
    color: #FF6F61;
}

#single-news {
    position: relative;
    width: 100%;
    padding: 25px 0 0 0;
    margin-bottom: 15px;
}

#single-news .sn-img {
    position: relative;
    overflow: hidden;
}

#single-news .sn-img img {
    width: 100%;
}

#single-news .sn-content {
    position: relative;
    width: 100%;
    padding: 30px 0;
}

#sortAscBtn {
    background-color: #09a6d4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

#sortAscBtn:hover {
    background-color: #0b84a1;
}

#sortDescBtn {
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

#sortDescBtn:hover {
    background-color: #d75145;
}